.priority {
  position: absolute;
  top: 90%;
  left: 1.5rem;
  z-index: 1;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-400);
  background-color: var(--gray-500);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 1.6rem 0;
  margin-bottom: 1.6rem;

  .priority-list {
    text-align: left;

    .list-item {
      display: flex;
      align-items: center;

      &:hover {
        color: var(--gray-100);
        background-color: var(--gray-400);
      }

      p {
        color: var(--gray-300);
        padding: 1rem 3rem 1rem 1rem;
        cursor: pointer;
        &:hover {
          color: var(--gray-100);
          background-color: var(--gray-400);
        }
      }

      .tag-icon {
        display: flex;
        align-items: center;
        margin-left: 1.4rem;

        &.tag-low {
          color: var(--green);
        }
        &.tag-medium {
          color: var(--warning);
        }
        &.tag-high {
          color: var(--danger);
        }
        &.tag-remove {
          color: var(--gray-300);
        }
      }
    }
  }
}
