button {
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;

  &.btn {
    border-radius: 0.8rem;
    background-color: var(--blue-dark);
    padding: 1.2rem;

    color: var(--gray-100);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 140%;

    &:hover {
      background-color: var(--blue);
    }
  }

  &#cancel-btn {
    background-color: var(--gray-600);
    border: 1px solid var(--blue-dark);
    color: var(--blue-dark);

    &:hover {
      background-color: var(--blue-dark);
      color: var(--gray-100);
    }
  }

  &.btn-check,
  &.btn-remove,
  &.btn-edit {
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--gray-300);
  }
  &.btn-edit:hover {
    color: var(--warning);
  }

  &.btn-remove {
    &:hover {
      color: var(--danger);
    }
  }
}
