.tag {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--gray-300);

  p {
    border-radius: 0.5rem;
    color: var(--gray-700);
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.2rem 0.4rem;
  }

  &.high {
    p {
      background-color: var(--danger);
    }
  }

  &.low {
    p {
      background-color: var(--green);
    }
  }

  &.medium {
    p {
      background-color: var(--warning);
    }
  }
}
