.tag {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--gray-300);
  font-weight: 700;
  font-size: 1.2rem;

  &.high,
  &.low,
  &.medium {
    span {
      border-radius: 0.5rem;
      color: var(--gray-700);
      padding: 0.2rem 0.4rem 0;
    }
  }
  &.high {
    span {
      background-color: var(--danger);
      color: var(--gray-100);
    }
  }

  &.low {
    span {
      background-color: var(--green);
    }
  }

  &.medium {
    span {
      background-color: var(--warning);
    }
  }
  &.default {
    background-color: none;
    color: var(--gray-300);
  }
}
