:root {
  --gray-op: rgba(13, 13, 13, 0.8);
  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;
  --blue: #75b1fa;
  --blue-dark: #3974bd;
  --green: #43a047;
  --green-light: #6ad86e;
  --danger: #e25858;
}
