html {
  font-size: 62.2%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

input,
button,
select,
textarea {
  border: none;
  outline: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
}

button {
  background: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
