header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  #logo {
    width: 4.8rem;
  }

  p {
    color: var(--gray-100);
    font-size: 4.8rem;
    font-weight: 700;
  }
}
