.new-task {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1.8rem;

  button {
    border-radius: 0.8rem;
    background-color: var(--blue-dark);
    padding: 1rem 1.2rem;

    color: var(--gray-100);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 140%;
    cursor: pointer;

    &:hover {
      background-color: var(--blue);
    }
  }
}
