ul {
  margin-top: 2.4rem;

  li {
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;

      p {
        flex: 1 0 0;
        word-break: break-all;
        text-align: left;
      }
    }
  }
}
