.task-list {
  margin-top: 2.4rem;
  height: calc(100vh - 30rem);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    li {
      position: relative;
      .content {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        .text {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          p {
            flex: 1 0 0;
            word-break: break-all;
            text-align: left;
          }
        }
      }
      .utils {
        padding-top: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--gray-300);

        .btn-utils {
          display: flex;
          align-items: center;
          gap: 1.2rem;
        }
      }
    }
  }
}
