:root {
  --gray-op: rgba(13, 13, 13, 0.8);
  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;
  --blue: #75b1fa;
  --blue-dark: #3974bd;
  --green: #7db842;
  --warning: #e9b803;
  --danger: #f23a4b;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

html {
  font-size: 62.2%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

input,
button,
select,
textarea {
  border: none;
  outline: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
}

button {
  background: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: var(--gray-600);
}
body #app {
  max-width: 70rem;
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  padding: 2.4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
}
body .hide {
  display: none;
}

body,
p,
h3,
input,
select,
textarea,
button {
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.4rem;
  color: var(--gray-200);
}

h3 {
  color: var(--gray-100);
}

.tag {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--gray-300);
  font-weight: 700;
  font-size: 1.2rem;
}
.tag.high span, .tag.low span, .tag.medium span {
  border-radius: 0.5rem;
  color: var(--gray-700);
  padding: 0.2rem 0.4rem 0;
}
.tag.high span {
  background-color: var(--danger);
  color: var(--gray-100);
}
.tag.low span {
  background-color: var(--green);
}
.tag.medium span {
  background-color: var(--warning);
}
.tag.default {
  background-color: none;
  color: var(--gray-300);
}

input,
textarea {
  background: var(--gray-500);
  padding: 1.6rem;
  color: var(--gray-100);
  font-size: 1.6rem;
  border-radius: 0.8rem;
}
input:focus,
textarea:focus {
  outline: 1px solid var(--blue-dark);
}
input::placeholder,
textarea::placeholder {
  color: var(--gray-300);
}

input {
  width: 100%;
  color: var(--gray-100);
  line-height: 140%;
}
input#search-task {
  padding-right: 4.4rem;
}

textarea {
  width: 100%;
  height: 10rem;
}

button {
  display: flex;
  cursor: pointer;
  transition: color 0.2s ease;
}
button.btn {
  border-radius: 0.8rem;
  background-color: var(--blue-dark);
  padding: 1.6rem;
  color: var(--gray-100);
  font-size: 1.4rem;
  font-weight: 700;
}
button.btn:hover {
  background-color: var(--blue);
}
button#cancel-btn {
  background-color: var(--gray-600);
  border: 1px solid var(--blue-dark);
  color: var(--blue-dark);
}
button#cancel-btn:hover {
  background-color: var(--blue-dark);
  color: var(--gray-100);
}
button.btn-check, button.btn-remove {
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--gray-300);
}
button.btn-remove:hover {
  color: var(--danger);
}

li {
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-400);
  background-color: var(--gray-500);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 1.6rem;
  margin-bottom: 1.6rem;
}
li.concluded {
  border: 1px solid var(--gray-500);
}
li.concluded .content .btn-check {
  color: var(--green);
}
li.concluded .content h3,
li.concluded .content p {
  color: var(--gray-300);
  text-decoration: line-through;
}
li:hover {
  background-color: var(--gray-400);
}

.priority {
  position: absolute;
  top: 90%;
  left: 1.5rem;
  z-index: 1;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-400);
  background-color: var(--gray-500);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 1.6rem 0;
  margin-bottom: 1.6rem;
}
.priority .priority-list {
  text-align: left;
}
.priority .priority-list .list-item {
  display: flex;
  align-items: center;
}
.priority .priority-list .list-item:hover {
  color: var(--gray-100);
  background-color: var(--gray-400);
}
.priority .priority-list .list-item p {
  color: var(--gray-300);
  padding: 1rem 3rem 1rem 1rem;
  cursor: pointer;
}
.priority .priority-list .list-item p:hover {
  color: var(--gray-100);
  background-color: var(--gray-400);
}
.priority .priority-list .list-item .tag-icon {
  display: flex;
  align-items: center;
  margin-left: 1.4rem;
}
.priority .priority-list .list-item .tag-icon.tag-low {
  color: var(--green);
}
.priority .priority-list .list-item .tag-icon.tag-medium {
  color: var(--warning);
}
.priority .priority-list .list-item .tag-icon.tag-high {
  color: var(--danger);
}
.priority .priority-list .list-item .tag-icon.tag-remove {
  color: var(--gray-300);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
header #logo {
  width: 4.8rem;
}
header p {
  color: var(--gray-100);
  font-size: 4.8rem;
  font-weight: 700;
}

.search {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.search #btn-search-task {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  font-size: 2.4rem;
  color: var(--gray-300);
}

.utils-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2.4rem auto;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.info__content p {
  color: var(--blue);
  font-weight: 700;
}
.info__content span {
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  background-color: var(--gray-400);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-200);
}
.info__content:last-child p {
  color: var(--green);
}

.task-list {
  margin-top: 2.4rem;
  height: calc(100vh - 30rem);
  overflow-y: auto;
}
.task-list::-webkit-scrollbar {
  display: none;
}
.task-list ul li {
  position: relative;
}
.task-list ul li .content {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.task-list ul li .content .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.task-list ul li .content .text p {
  flex: 1 0 0;
  word-break: break-all;
  text-align: left;
}
.task-list ul li .utils {
  padding-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--gray-300);
}
.task-list ul li .utils .btn-utils {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.input-wrapper {
  background-color: var(--gray-op);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 2.4rem;
}
.input-wrapper .input-data {
  position: relative;
  background-color: var(--gray-600);
  border-radius: 0.8rem;
  max-width: 50rem;
  width: 100%;
  padding: 5rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.4rem;
}
.input-wrapper .input-data input:nth-child(4) {
  width: 14rem;
}
.input-wrapper .input-data .btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-wrapper .input-data .close {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  color: var(--gray-300);
  font-size: 1.8rem;
}

.new-task #btn-new-task {
  font-size: 2.4rem;
}

footer {
  padding: 1.2rem;
  text-align: center;
}
footer p {
  color: var(--gray-100);
}
footer p a {
  color: var(--blue-dark);
  cursor: pointer;
}
footer p a:hover {
  color: var(--blue);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 3.6rem;
}
.empty img {
  max-width: 20rem;
  width: 100%;
}
.empty p {
  font-size: 1.8rem;
  color: var(--gray-300);
}/*# sourceMappingURL=style.css.map */